Ignore/
*.pptx
*.ppt
*.odt
BSR/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
*.jpg
*.jpeg
*.png
*.gif
05-Textons/matlab 
*.zip 
*.mat 
03-Python/wiki.mat 
05-Textons/cifar-10-batches-py/ 
06-Segmentation/BSDS_small/ 
*.xlsx# 
*.xlsx 
